apiVersion: v1
kind: Secret
metadata:
  name: azure-group-sync
  namespace: group-sync-operator
data:
  AZURE_TENANT_ID: "{{ az_app_tenantid.stdout | b64encode }}"
  AZURE_CLIENT_ID: "{{ az_app_client_id.stdout | b64encode }}"
  AZURE_CLIENT_SECRET: "{{ app_secret.stdout | b64encode }}"
type: Opaque